@CHARSET "ISO-8859-1";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.queries {
	display: table;
	width: 100%;
	margin: 0 0 25px 0;
}

.queries a {
	color: white;
    padding: 2%;
    margin: 0.5%;
    background: #4183d8;
    text-decoration: none;
    font-family: fantasy;
    font-size: 1.3em;
    width: 20%;
    display: block;
    float: left;
    text-align: center;
}

div.help {
	font-family: arial;
	display: table;
    width: 90%;
    margin: auto;
    padding: 0 2%;
    border: 2px solid #4183d8;
}

div.help h2 {
	text-align: center;
    font-family: arial;
    font-size: 25px;
}

.queries a:hover {	
    background: #4343c3;
}

h1 {
    font-family: Arial;
    font-size: 3em;
    text-align: center;
}


a.disabled {
    pointer-events: none;
}

a[disabled]{
	pointer-events: none;
}

a[disabled] {
    background: gray;
}

a.disabled {
    background: gray;
}