@CHARSET "ISO-8859-1";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 80%;
  margin: 0px 5%;
  
}

.queries a {
  color: blue;	
}

h1 {
    font-family: Arial;
    font-size: 3em;
    text-align: center;
}